2024-01-31T09:25:59.610+03:00  INFO 9900 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:25:59.639+03:00  INFO 9900 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:28:44.537+03:00  INFO 7920 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:28:44.548+03:00  INFO 7920 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:28:46.863+03:00  INFO 7920 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:29:52.676+03:00  INFO 4860 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:29:52.816+03:00  INFO 4860 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:30:58.926+03:00  INFO 1512 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:30:58.938+03:00  INFO 1512 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:31:27.601+03:00  INFO 2188 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:31:41.420+03:00  INFO 8156 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:31:41.431+03:00  INFO 8156 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:31:43.721+03:00  INFO 8156 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:45:21.683+03:00  INFO 3348 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
2024-01-31T09:45:22.699+03:00  INFO 3348 --- [Test worker] c.vm.springstarter.pool.ConnectionPool   : Init connection POOL
