<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div style="color: red" th:if="${param.error}">
    Invalid username and password!
</div>
<form th:action="@{/login}" method="post" >
    <label for="username"><span th:text="#{login.username}">Username:</span>
        <input id="username" type="text" name="username">
    </label><br>
    <br>
    <label for="password"><span th:text="#{login.password}">Password:</span>
        <input id="password" type="text" name="password">
    </label><br>
    <br>
    <button type="submit">Login</button>
    <br>
</form>
<br>
<form action="/users/registration">
    <button type="submit">Registration</button>
</form>
</body>
</html>