<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<!--<form th:action="@{'/users/' + ${user.id} + '/update'}" method="post" th:object="${user}">-->

<form th:action="@{|/users/${user.id}/update|}" enctype="multipart/form-data" method="post" th:object="${user}">
    <label for="username">User name:
        <input id="username" type="text" name="username" th:value="*{username}">
    </label><br>
    <br>
    <label for="birthDate">Birthday:
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
    </label><br>
    <br>
    <label for="firstname">First name:
        <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
    </label><br>
    <br>
    <label for="lastname">Last name:
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </label><br>
<!--    <div th:if="${user.image}">-->
<!--        <img src="@{/api/v1/users/{userId}/avatar(userId=${user.id})}" alt="User image">-->
<!--    </div>-->
    <div th:if="${user.image}">
        <img th:src="@{'/api/v1/users/' + ${user.id} + '/avatar'}" alt="User image" width="40">
    </div>
    <br>
    <label for="image">Image:
        <input id="image" type="file" name="image">
    </label>
    <br>
    <br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role ==user.role}"><input>
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <br>
    <div>
        <label for="company">Company:
            <select id="company" name="companyId">
                <option th:each="company : ${companies}"
                        th:value="${company.id}"
                        th:selected="${company.id} == user.company.id"
                        th:text="${company.name()}">Company
                </option>
            </select>
        </label>
    </div>
    <br>
    <button type="submit">Update</button>
</form>
<br>
<form th:action="@{/users/{userId}/delete(userId=${user.id})}" method="post" th:if="${user.role.name() == 'ADMIN'}">
    <button type="submit">Remove</button>
</form>
<br>
<form action="/users/registration">
    <button type="submit">Registration</button>
</form>
<br>
<div th:insert="~{fragments :: header}"></div>
</body>
</html>