<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<form action="/users">
    <label for="firstname">Firstname:
        <input id="firstname" type="text" name="firstname">
    </label>
    <br>
    <br>
    <label for="lastname">Lastname:
        <input id="lastname" type="text" name="lastname">
    </label>
    <br>
    <br>
    <label for="birthDate">Birthday:
        <input id="birthDate" type="date" name="birthDate">
    </label>
    <br>
    <br>
    <button type="submit">Filter</button>
    <br>
    <br>
</form>
<div th:each="user:${users}">
    <a th:href="@{'/users/'+${user.id}}" th:text="|${user.id}.${user.username}|">User</a>
</div>
</body>
</html>